.Nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  align-items: center;
  justify-content: space-around;
  background-color: w#8bc34a;
  border-top: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-top: 30px;
}
.botonNav {
  margin: 0;
  padding: 0;
  img {
    width: 30px;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
  }
}
